{% load static %}

<!--FOOTER-->
<footer>
    <div id="lgx-footer" class="lgx-footer lgx-footer-white"> <!--lgx-footer-white-->
        <div class="lgx-inner">
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                        <a class="logo" href="index.html"><img src="{% static 'assets/img/logo-footer-olive.png'%}"
                                alt="Logo"></a>
                        <address>
                            <i class="fa fa-map-marker"></i>
                            51 Francis Street, Darlinghurst <br>
                            NSW 2010, United States
                        </address>
                        <ul class="list-unstyled lgx-address-info">
                            <li><i class="fa fa-phone"></i>+61 1900 654 368</li>
                            <li><i class="fa fa-envelope"></i><a href="https://themearth.com/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="375851515e5452775253425456435e5859475b42441954585a">[email&#160;protected]</a>
                            </li>
                        </ul>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h2 class="title">Opening Time</h2>
                        <div class="opening-time-single">
                            Saterday- Sunday
                            <span><i>10:00</i> Am - <i>11:00</i> PM</span>
                        </div>
                        <div class="opening-time-single">
                            Saterday- Sunday
                            <span><i>10:00</i> Am - <i>11:00</i> PM</span>
                        </div>
                        <div class="opening-time-single">
                            Saterday- Sunday
                            <span><i>10:00</i> Am - <i>11:00</i> PM</span>
                        </div>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h2 class="title">The Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Speacial Items</a></li>
                            <li><a href="#">Fresh Breakfast</a></li>
                            <li><a href="#">Lunch Menu</a></li>
                            <li><a href="#">Dinner Items</a></li>
                            <li><a href="#">Fresh Food Zone</a></li>
                            <li><a href="#">We Offerd Food</a></li>
                        </ul>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h2 class="title">Newsletter</h2>
                        <div class="lgx-subscriber-area">
                            <p class="text">Don’t miss any updates all the astonishing offers we bring for you.</p>
                            <div class="lgx-subscriber">
                                <form class="subscribe-form lgx-subscribe-form">
                                    <div class="form-group">
                                        <input type="email" id="subscribe" placeholder="Ex: themearth@gmail.com"
                                            class="form-control lgx-input-form form-control" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="lgx-submit" id="lgx-submit"
                                            class="btn lgx-btn lgx-submit the-submit-btn"><span>Subscribe</span></button>
                                    </div>
                                </form>
                            </div> <!--//.SUBSCRIBE-->
                        </div>
                    </div> <!--//footer-area-->
                </div>
                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p>© 2017 Restaura is powered by <a href="http://www.themearth.com/">themearth.</a> The property
                            of their owners.</p>
                    </div>
                    <div class="lgx-social-footer">
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>
<!--FOOTER END-->