{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  {% include 'includes/admin_header.html' %}

  <div id="layoutSidenav">
    {% include 'includes/admin_sidenav.html' %}

    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between">
            <h1 class="my-3">Items</h1>
            <button class="btn btn-info btn-sm m-3" type="button" data-bs-toggle="modal" data-bs-target="#addItemModal">
              Add Items
            </button>
          </div>
          <!-- Modal start -->
          <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- Your form fields go here -->
                  <form id="addItemForm" method="POST" action="{% url 'adminitems' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="item_name" class="form-label">Item Name</label>
                      <input type="text" class="form-control" id="item_name" name="item_name" />
                    </div>
                    <div class="mb-3">
                      <label for="item_desc" class="form-label">Item Description</label>
                      <textarea class="form-control" name="item_desc" id="item_desc" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="item_type" class="form-label">Item Type</label>
                      <select class="form-select" id="item_type" name="item_type">
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="item_price" class="form-label">Item price</label>
                      <input type="number" class="form-control" id="item_price" name="item_price" />
                    </div>
                    <div class="mb-3">
                      <input type="file" class="form-control" id="item_image" name="item_image" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal end -->

          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              All Items available
            </div>
            <div class="card-body">
              <table id="datatablesSimple">
                <thead>
                  <tr>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item ID</span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item Name</span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item Description</span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item Type</span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item Price</span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Item Image
                      </span>
                    </th>
                    <th>
                      <span class="d-flex align-items-center justify-content-center">Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_desc }}</td>
                    <td>{{ item.item_type }}</td>
                    <td>{{ item.item_price }}</td>
                    <td class="text-center "><img class="img-fluid " height="100px" width="100px"
                        src="{{ item.item_image }}" alt=""></td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center gap-3">
                        <button data-bs-toggle="modal" data-bs-target="#editItemModal{{item.id}}"
                          class="btn btn-success btn-sm">Edit</button>

                        <!-- Edit item Modal start -->
                        <div class="modal fade" id="editItemModal{{item.id}}" tabindex="-1" role="dialog"
                          aria-labelledby="editItemModalLabel{{item.id}}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                              <div class="modal-header">
                                <h5 class="modal-title" id="editItemModalLabel{{item.id}}">
                                  Edit Item
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>

                              <div class="modal-body">
                                <form id="editItemForm{{item.id}}" method="POST"
                                  action="{% url 'adminitems-edit' item.id %}" enctype="multipart/form-data">
                                  {% csrf_token %}

                                  <div class="mb-3">
                                    <label for="item_name" class="form-label">Item Name</label>
                                    <input value="{{item.item_name}}" type="text" class="form-control" id="item_name"
                                      name="item_name" />
                                  </div>

                                  <div class="mb-3">
                                    <label for="item_desc" class="form-label">Item Description</label>
                                    <textarea class="form-control" name="item_desc" id="item_desc" rows="5"></textarea>
                                  </div>

                                  <div class="mb-3">
                                    <label for="item_type" class="form-label">Item Type</label>
                                    <select class="form-select" id="item_type" name="item_type">
                                      <option value="Breakfast">
                                        Breakfast</option>
                                      <option value="Lunch">Lunch
                                      </option>
                                      <option value="Dinner">
                                        Dinner
                                      </option>
                                    </select>
                                  </div>

                                  <div class="mb-3">
                                    <label for="item_price" class="form-label">Item price</label>
                                    <input value="{{item.item_price}}" type="number" class="form-control"
                                      id="item_price" name="item_price" />
                                  </div>

                                  <div class="mb-3">
                                    <input type="file" class="form-control" id="item_image" name="item_image" />
                                  </div>
                                  <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Edit item Modal end -->

                        <button data-bs-toggle="modal" data-bs-target="#deleteItemModal{{item.id}}"
                          class="btn btn-danger btn-sm">Delete</button>

                        <!-- delete item Modal start -->
                        <div class="modal fade" id="deleteItemModal{{item.id}}" tabindex="-1" role="dialog"
                          aria-labelledby="deleteItemModal{{item.id}}Label" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title  " id="deleteItemModal{{item.id}}Label">
                                  Delete Item
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <!-- Your form fields go here -->
                                <div class="my-5  text-center ">
                                  <h5 for="itemName" class="form-label">Are you sure ? Do you want to delete ?</h5>
                                </div>
                                <div class="text-center ">
                                  <form id="deleteItemModal{{item.id}}Label" method="POST"
                                    action="{% url 'adminitems-delete' item.id %}">
                                    <button type="submit" class="btn btn-danger">
                                      Delete
                                    </button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Delete item Modal end -->

                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>

      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Restaura 2023</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="{% static 'admin/js/scripts.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="{% static '/admin/assets/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'admin/assets/demo/chart-bar-demo.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
  <script src="{% static 'admin/js/datatables-simple-demo.js' %}"></script>

  <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js'%}"></script>

  <!-- Script for SweetAlert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Add item for script -->
  <!-- <script>
    function addItem() {
      var addItemForm = $("#addItemForm");
      var formData = new FormData(addItemForm[0]);

      formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());

      $.ajax({
        type: addItemForm.attr("method"),
        url: addItemForm.attr("action"),
        data: addItemForm.serialize(),
        processData: false,
        contentType: false,
        success: function (data) {
          console.log("Item added successfully", data);
          addItemForm[0].reset();
          showPopup("Item added successfully.", "success");

        },
        error: function (error) {
          console.log("Add item error", error);
          showPopup("Add item error.", "error");
        }
      })

    }

    // Show popup function
    function showPopup(message, icon) {
      Swal.fire({
        position: "center",
        icon: icon,
        title: message,
        showConfirmButton: true,
        timer: 3000
      });
    }

  </script> -->


</body>

</html>