<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Restaura</title>
    <meta name="description" content="Responsive Restaura HTML5 Template" />
    <meta name="keywords" content="Bootstrap3, restaurant, food, cafe, Template, bakery , Responsive, HTML5" />
    <meta name="author" content="themearth.com" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://yourdomain.com/" />
    <meta name="twitter:title" content="Your home page title, max 140 char" />
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " />
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg" />
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title" />
    <meta property="og:url" content="http://your domain here.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Your site name here" />
    <!--meta property="fb:admins" content="" /--> <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg" />
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json'%}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/user_cart_css/user-cart.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/cart_header_css/cart_header.css'%}" media="all" />
    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="{% static 'assets/css/style-olive.min.css'%}" media="all" />



</head>

<body>

    <!-- HEADER -->
    <header class="navbar" style="margin-bottom: 0 !important;">
        <div class="header">
            <a href="/"><img height="80px" src="{% static 'assets/img/logo-squre-olive.png'%}" class="img-fluid "
                    alt="logo"></a>
        </div>
    </header>
    <!-- HEADER END -->

    <!--MENU ITEMS-->
    <section>
        <div id="lgx-menu" class="lgx-menu"> <!--lgx-menu-white-->
            <div class="lgx-inner" style="padding: unset !important;">
                <div class="container" style="margin-top: unset !important;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading lgx-heading-white" style="margin: 15px 0px !important;">
                                <h2 class="heading-title">Offerd Menu</h2>
                                <h4 class="heading-subtitle">Some Trendy And Popular Courses Offerd</h4>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <div class="container-fluids section-gap">
                    <div class="lgx-tab lgx-tab-another"> <!--lgx-tab-another lgx-tab-another2-->
                        <div class="lgx-filter-area">
                            <ul id="lgx-filter" class="lgx-filter list-inline">
                                <li class="active"><a class="lgx-filter-item" href="javascript:void(0)"
                                        data-filter="*">All Items<span>Fresh & Delicious</span></a></li>
                                <li><a class="lgx-filter-item" href="javascript:void(0)"
                                        data-filter=".breakfast">Pizza<span>Fresh & Delicious</span></a></li>
                                <li><a class="lgx-filter-item" href="javascript:void(0)" data-filter=".lunch">Soup
                                        <span>Fresh & Delicious</span></a></li>
                                <li><a class="lgx-filter-item" href="javascript:void(0)"
                                        data-filter=".dinner">Kabab<span>Fresh & Delicious</span></a></li>
                                <li><a class="lgx-filter-item" href="javascript:void(0)"
                                        data-filter=".drinks">Stack<span>Fresh & Delicious</span></a></li>
                            </ul>
                        </div>

                        <div class="lgx-menu-container">

                            <div id="lgx-grid-wrapper" class="lgx-grid-wrapper lgx-grid-wrapper-gap">
                                <!--lgx-grid-wrapper-gap-->
                                {% for item in items %}
                                <div class="lgx-grid-item breakfast">
                                    <!-- lgx-grid-item-col1 lgx-grid-item-col2 lgx-grid-item-col3 lgx-grid-item-col4-->
                                    <div class="lgx-single-menu-another">
                                        <a href="#">
                                            <figure>
                                                <img src="{{ item.item_image }}" alt="course">
                                                <figcaption>

                                                </figcaption>
                                            </figure>
                                            <div class="menu-info">
                                                <div class="info-left">
                                                    <h3 class="title">{{item.item_name}}</h3>
                                                    <p class="text">{{item.item_desc}}</p>
                                                </div>
                                                <div class="menu-price">
                                                    <span>₹</span>{{item.item_price}}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--//ITEM-->
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//.MENU ITEMS END-->


    <!-- USER CART DESIGN -->
    <div class="container padding-bottom-3x mb-1  ">
        <div class="text-center ">
            <h3><u>Checkout</u></h3>
        </div>
        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart border-2">
            <table class="table">
                <thead style="margin-top: 1px solid black !important;">
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-item">
                                <a class="product-thumb" href="#"><img
                                        src="https://www.bootdey.com/image/220x180/FF0000/000000" alt="Product"></a>
                                <div class="product-info">
                                    <h4 class="product-title"><a href="#">Unionbay Park</a></h4><span><em>Size:</em>
                                        10.5</span><span><em>Color:</em> Dark Blue</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" >
                            <div class="count-input">
                                <select class="form-control ">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">$18.00</td>
                        <td class="text-center text-lg text-medium">$43.90</td>
                        <td class="text-center">
                            <button class="btn btn-sm  btn-danger ">Remove item</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="shopping-cart-footer">
            <!-- <div class="column">
                <form class="coupon-form" method="post">
                    <input class="form-control form-control-sm" type="text" placeholder="Coupon code" required="">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Apply Coupon</button>
                </form>
            </div> -->
            <div class="column text-lg">
                <p>Sub total: <span class="text-medium">₹200</span></p>
                <p>GST: <span class="text-medium">₹89</span></p>
                <strong>
                    <p>Total: <span class="text-medium">₹289</span></p>
                </strong>
            </div>
        </div>

        <div class="shopping-cart-footer">
            <div class="column">
                <a class="btn btn-outline-secondary" href="/"><i class="icon-arrow-left"></i>&nbsp;Back
                    to Shopping</a>
            </div>

            <div class="column">
                <!-- <a class="btn btn-primary" href="#" data-toast="" data-toast-type="success"
                    data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart"
                    data-toast-message="is updated successfully!">Update Cart</a> -->
                <a class="btn btn-success" href="#">Checkout</a>
            </div>
        </div>

    </div>



    <!-- USER CART DESIGN END -->

    <!-- BOOTSTRAP JS  -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- SMOTH SCROLL -->
    <script src="{% static 'assets/libs/jquery.smooth-scroll.min.js'%}"></script>


    <!-- JQUERY  -->
    <script data-cfasync="false"
        src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js'%}"></script>

    <!-- BOOTSTRAP JS  -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js'%}"></script>


    <script src="{% static 'assets/libs/jquery.smooth-scroll.js'%}"></script>

    <!-- SKILLS SCRIPT  -->
    <script src="{% static 'assets/libs/jquery.validate.js'%}"></script>

    <!-- adding magnific popup js library -->
    <script type="text/javascript" src="{% static 'assets/libs/maginificpopup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Owl Carousel  -->
    <script src="{% static 'assets/libs/owlcarousel/owl.carousel.min.js'%}"></script>


    <!-- bootstrap date picker js with moment js -->
    <script src="{% static 'assets/libs/datepicker/moment-with-locales.min.js'%}"></script>
    <script src="{% static 'assets/libs/datepicker/bootstrap-datetimepicker.min.js'%}"></script>


    <!-- Counter JS -->
    <script src="{% static 'assets/libs/waypoints.min.js'%}"></script>
    <script src="{% static 'assets/libs/counterup/jquery.counterup.min.js'%}"></script>

    <!-- MENU FILTER   -->
    <script src="{% static 'assets/libs/isotope/isotope.pkgd.min.js'%}"></script>

    <!-- SMOTH SCROLL -->
    <script src="{% static 'assets/libs/jquery.smooth-scroll.min.js'%}"></script>
    <script src="{% static 'assets/libs/jquery.easing.min.js'%}"></script>

    <!-- type js -->
    <script src="{% static 'assets/libs/typed/typed.min.js'%}"></script>

    <!-- Sticky Sidebar js -->
    <script src="{% static 'assets/libs/stickysidebar/theia-sticky-sidebar.min.js'%}"></script>

    <!-- CUSTOM SCRIPT  -->
    <script src="{% static 'assets/js/custom.script.js'%}"></script>

    <div class="lgx-switcher-loader"></div>
    <!-- For Demo Purpose Only// Remove From Live -->
    <script src="{% static 'switcher/js/switcherd41d.js?'%}"></script>
    <!-- For Demo Purpose Only //Remove From Live-->

</body>

</html>