<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Restaura</title>
    <meta name="description" content="Responsive Restaura HTML5 Template" />
    <meta name="keywords" content="Bootstrap3, restaurant, food, cafe, Template, bakery , Responsive, HTML5" />
    <meta name="author" content="themearth.com" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://yourdomain.com/" />
    <meta name="twitter:title" content="Your home page title, max 140 char" />
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " />
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg" />
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title" />
    <meta property="og:url" content="http://your domain here.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Your site name here" />
    <!--meta property="fb:admins" content="" /--> <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg" />
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json'%}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/user_cart_css/user-cart.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/cart_header_css/cart_header.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/user-menu-css/user_menu.css'%}" media="all" />


</head>

<body>

    <!-- HEADER -->
    <header class="navbar" style="margin-bottom: 0 !important;">
        <div class="header">
            <a href="/"><img height="80px" src="{% static 'assets/img/logo-squre-olive.png'%}" class="img-fluid "
                    alt="logo"></a>
        </div>
    </header>
    <!-- HEADER END -->

    <div id="user_menu">
        <div class="user-nav">
            <!-- <button class="menu-link active" data-target="orders-details">My Cart</button> -->
            {% if user.is_authenticated %}
            <button class="menu-link active" data-target="user-details">User details</button>
            <button class="menu-link" data-target="orders-section">My Orders</button>
            <button class="menu-link" data-target="reservation-details">Reservations</button>
            <button class="menu-link" data-target="review-section">Reviews</button>
            {% endif %}
        </div>

        <div class="view-box">

            <!-- <div class="orders-details active content-section">
                <div class="menu-tab">
                    <button class="item-type-button active" data-type="all">All Menu</button>
                    {% for item in items %}
                    <button class="item-type-button" data-type="{{ item.item_type }}">{{ item.item_type }}</button>
                    {% endfor %}
                </div>
                <div class="items-box">
                    {% for item in items %}
                    <div class="items-details item-type-{{ item.item_type }}">
                        <div class="img-wrapper item-type-{{ item.item_type }}">
                            <img class="item-image" src="{{item.item_image}}" alt="">
                        </div>
                        <div class="content-wrapper">
                            <h3>{{ item.item_name }}</h3>
                            <p class="item-desc">{{ item.item_desc }}</p>
                            <p>₹ <span class="item-price">{{ item.item_price }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> -->

            
            <div class="user-details active content-section">
                <div class="outer-box">
                    <div class="inner-box">
                        <div class="img-wrapper">
                            <img src="{% static 'assets/img/menu/menu18.jpg' %}" alt="user-icon">
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="details-box">
                            <div>
                                <p><b>Name: </b><span>{{user.first_name}} {{user.last_name}}</span></p>
                            </div>
                            <div>
                                <p><u>Contact Details:</u></p>
                                <!-- <p><b>Mobile:</b> <span>6381387364</span></p> -->
                                <p><b>Email:</b> <span>{{user.email}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="orders-section content-section">
                <h3>Orders section</h3>
            </div>


            <div class="reservation-details content-section">
                <h3>Reservation Details</h3>
            </div>

            <div class="review-section content-section">
                <h3>Reviews section</h3>
            </div>

        </div>
    </div>


    <!-- USER CART DESIGN -->
    <div class="container padding-bottom-3x checkout-section ">
        <div class="text-center ">
            <h3><u>Checkout</u></h3>
        </div>
        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart border-2">
            <table class="table">
                <thead style="margin-top: 1px solid black !important;">
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center">Quantity</th>
                        <!-- <th class="text-center">Discount</th> -->
                        <th class="text-center">Amount</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-item">
                                <a class="product-thumb" href="#">
                                    <img src="https://www.bootdey.com/image/220x180/FF0000/000000" alt="Product">
                                </a>
                                <div class="product-info">
                                    <h4 class="product-title">
                                        <p>Item Name</p>
                                    </h4>
                                    <!-- <span><em>Size:</em>10.5</span> -->
                                    <span><em>Price:</em> ₹199 </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="count-input">
                                <select class="form-control ">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </td>
                        <!-- <td class="text-center text-lg text-medium">₹18</td> -->
                        <td class="text-center text-lg text-medium">₹200</td>
                        <td class="text-center">
                            <button class="btn btn-sm  btn-danger ">Remove item</button>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>

        <div class="shopping-cart-footer">

            <div class="column text-lg">
                <p>Sub total: <span class="text-medium">₹200</span></p>
                <p>GST @ 5% : <span class="text-medium">₹89</span></p>
                <strong>
                    <p>Total: <span class="text-medium">₹289</span></p>
                </strong>
            </div>
        </div>

        <div class="shopping-cart-footer">
            <div class="column">
                <a class="btn btn-outline-secondary" href="/"><i class="icon-arrow-left"></i>&nbsp;Back
                    to Shopping</a>
            </div>

            <div class="column">
                <a class="btn btn-success" href="#">Checkout</a>
            </div>
        </div>

    </div>



    <!-- USER CART DESIGN END -->

    <!-- BOOTSTRAP JS  -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- SMOTH SCROLL -->
    <script src="{% static 'assets/libs/jquery.smooth-scroll.min.js'%}"></script>


    <!-- Script to handle navigation menu -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get all menu links
            var menuLinks = document.querySelectorAll(".menu-link");

            // Add click event listener to each menu link
            menuLinks.forEach(function (link) {
                link.addEventListener("click", function (event) {
                    event.preventDefault();

                    // Remove the 'active' class from all links
                    menuLinks.forEach(function (menuLink) {
                        menuLink.classList.remove("active");
                    });

                    // Add the 'active' class to the clicked link
                    this.classList.add("active");

                    // Get the target data attribute value
                    var targetId = this.getAttribute("data-target");

                    // Hide all content sections
                    var contentSections = document.querySelectorAll(".content-section");
                    contentSections.forEach(function (section) {
                        section.style.display = "none";
                    });

                    // Show the selected content section
                    var targetSection = document.querySelector("." + targetId);
                    if (targetSection) {
                        targetSection.style.display = "block";

                        // Toggle the visibility of the checkout section
                        var checkoutSection = document.querySelector(".checkout-section");
                        checkoutSection.style.display = targetId === "orders-details" ? "block" : "none";
                    }
                });
            });

            // Show the default active section ("Orders") when the page loads
            var defaultActiveSection = document.querySelector(".content-section.active");
            if (defaultActiveSection) {
                defaultActiveSection.style.display = "block";

                // Toggle the visibility of the checkout section
                var checkoutSection = document.querySelector(".checkout-section");
                checkoutSection.style.display = defaultActiveSection.classList.contains("orders-details") ? "block" : "none";
            }
        });
    </script>



    <!-- Script to handle menu items filtering -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var typeButtons = document.querySelectorAll(".item-type-button");
            var allItems = document.querySelectorAll(".items-details");

            // Show all items and make "All Menu" active by default
            typeButtons.forEach(function (button) {
                if (button.getAttribute("data-type") === "all") {
                    button.classList.add("active");
                }
            });

            allItems.forEach(function (item) {
                item.style.display = "flex";
            });

            // Add click event listener to buttons
            typeButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    typeButtons.forEach(function (btn) {
                        btn.classList.remove("active");
                    });

                    this.classList.add("active");

                    var selectedType = this.getAttribute("data-type");

                    allItems.forEach(function (item) {
                        item.style.display = "none";
                    });

                    if (selectedType === "all") {
                        allItems.forEach(function (item) {
                            item.style.display = "flex";
                        });
                    } else {
                        var selectedItems = document.querySelectorAll(".item-type-" + selectedType);
                        selectedItems.forEach(function (item) {
                            item.style.display = "flex";
                        });
                    }
                });
            });
        });
    </script>

    <!-- Script to handle add and remove items in the card -->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var itemDetails = document.querySelectorAll(".items-details");
            var tableBody = document.querySelector(".table tbody");

            itemDetails.forEach(function(item){
                item.addEventListener("click",function(){
                    // var itemId = item.querySelector(".items-details").id;
                    var itemName = item.querySelector("h3").innerText;
                    var itemDesc = item.querySelector(".item-desc").innerText;
                    var itemPrice = item.querySelector(".item-price").innerText;
                    var itemSource = item.querySelector(".item-price").innerText;
                    var itemImgSource = item.querySelector(".item-image").src;

                    var selectedItemDetails = {
                        name:itemName,
                        desc:itemDesc,
                        price:itemPrice,
                        imgSoruce:itemImgSource,
                    }

                    var storedItems = JSON.parse(localStorage.getItem("cartItems")) || []
                    storedItems.push(selectedItemDetails)
                    localStorage.setItem("cartItems",JSON.stringify(storedItems));

                    var updatedCartItems = JSON.parse(localStorage.getItem("cartItems"))
                    console.log(updatedCartItems);

                })
            })
        })
    </script>



</body>

</html>